body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    margin: 0 auto;

    min-height: 100vh;
    width: auto;
    align-items: center;

    background: linear-gradient(to left top, #D4B07A, #A6C5A3, #87BB7A);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.logo {
    width: 240px;
    margin: 48px auto 24px auto;
}

.part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px 0 8px;
    margin: 8px auto;

    background: #dddddd;
    border-radius: 16px;

    width: 330px;
    height: 56px;

    position: relative;
}

.part div {
    display: flex;
    align-items: center;
}

.part img {
    padding: 0 8px;
}

.part .arrow {
    position: absolute;
    right: 16px;
}

/* .weight, .rate, .price {
    background: #dddddd;
    border-radius: 16px;

    margin: 8px auto;

    width: 360px;
    height: 56px;
} */

.inputField {
    border: none;
    border-radius: 8px;
    background: #fff;

    font-size: 16px;

    width: 160px;
    height: 28px;
}

.final {
    margin: 16px auto;
    padding: 16px;

    background: #eee;

    width: 320px;
    height: 100px;

    border-radius: 16px;
}

.finalTextArea {
    font-size: 24px;
    text-align: center;
    margin-top: 0;
}

.finalPriceArea {
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* margin: 12px 0; */
}

.final span {
    font-size: 32px;
}

.finalArea {
    width: 234px;
    height: 42px;

    background: #fff;
    border: none;
    border-radius: 8px;

    font-size: 32px;
}